[Unit]
Description=Celery Service
After=network.target

[Service]
User=rotimi
Group=www-data
WorkingDirectory=/home/rotimi/smtp-messaging
Environment="PATH=/home/rotimi/smtp-messaging/myenv/bin"
ExecStart=/home/rotimi/myenv/bin/celery -A app.celery app --loglevel=info

[Install]
WantedBy=multi-user.target