[Unit]
Description=Flask Application
After=network.target

[Service]
User=rotimi
Group=www-data
WorkingDirectory=/home/rotimi/smtp-messaging
Environment="PATH=/home/rotimi/smtp-messaging/myenv/bin"
ExecStart=/home/rotimi/myenv/bin/python /home/rotimi/smtp-messaging/app.py

[Install]
WantedBy=multi-user.target
